<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Insert a joke!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>Insert a cool joke!</header>
    <form action="/jokes" method="POST">
      <input type="text" name="question" placeholder="Enter the question" />
      <input type="text" name="answer" placeholder="Enter the answer" />
      <input type="number" name="author_id" placeholder="Enter the author id" />
      <input type="number" name="rating" placeholder="Enter the rating" />
      <button>Add the joke!</button>
    </form>
  </body>
</html>
